section.section.capture(data-aos="zoom-out" data-aos-delay="300") 
  .container 
    .capture__wrap
      .capture__content
        .heading Lorem ipsum dolor sit amet, consectetur 
          span adipiscing elit. 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      button.btn.btn--primary.to_calc(data-aos="zoom-in" data-aos-delay="700") расчитать стоимость