section.section.intro(data-section="intro")
  .container.bg
    .title Лайтбоксы на заказ в 
      br
      span Харькове 
      | и 
      span Украине
    .intro__content 
      .intro__text 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices aliquet dignissim sed porta leo amet sed. Nulla sapien ipsum semper quis suspendisse nunc. 
        button.btn.btn--primary.open_order Заказать просчет
      img(src="./img/banners/main.jpg" alt="" width="784" height="446").intro__banner