section.section.views(data-section="views") 
  .container 

    .section__title 
      .heading(data-aos="fade-right") Виды 
        span лайтбоксов
      .controls(data-aos="fade-left")
        button.btn.swiper-prev
        button.btn.swiper-next

    .swiper-container(data-aos="fade-up" data-aos-anchor-placement="top-center")
      .swiper-wrapper
        a(href="./img/banners/view1.jpg" data-fancybox="gallery" class="swiper-slide")
          img(src="./img/banners/view1.jpg" width="368" height="432" alt="")
        a(href="./img/banners/view2.jpg" data-fancybox="gallery" class="swiper-slide")
          img(src="./img/banners/view2.jpg" width="368" height="432" alt="")
        a(href="./img/banners/view3.jpg" data-fancybox="gallery" class="swiper-slide")
          img(src="./img/banners/view3.jpg" width="368" height="432" alt="")
        a(href="./img/banners/view1.jpg" data-fancybox="gallery" class="swiper-slide")
          img(src="./img/banners/view1.jpg" width="368" height="432" alt="")
        a(href="./img/banners/view2.jpg" data-fancybox="gallery" class="swiper-slide")
          img(src="./img/banners/view2.jpg" width="368" height="432" alt="")
        a(href="./img/banners/view3.jpg" data-fancybox="gallery" class="swiper-slide")
          img(src="./img/banners/view3.jpg" width="368" height="432" alt="")
      .swiper-pagination.swiper-pagination--static
